div#red{
	background-color: red;
	margin: auto;
	height: 200px;
	width: 200px;
	margin-top:20px;
	margin-bottom:20px;
	
}
div#yellow{
	background-color: yellow;
	margin: auto;
	height: 200px;
	width: 200px;
	margin-top:20px;
	margin-bottom:20px;
	
}
div#green{
	background-color: green;
	margin: auto;
	height: 200px;
	width: 200px;
	margin-top:20px;
	margin-bottom:20px;
	
}


div:hover{
	cursor: pointer;
	border: 2px solid dodgerblue;
}

div:visited{
	border: 2px solid dodgerblue;
}